/*------------------------------------------------------------------------------
    Fonts
------------------------------------------------------------------------------*/
@font-face {
    font-family: 'IRANSansWeb';
    src: url('../fonts/IRANSansWeb(FaNum).eot') format('eot'),
    url('../fonts/IRANSansWeb(FaNum).woff') format('woff'),
    url('../fonts/IRANSansWeb(FaNum).ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
