/*------------------------------------------------------------------------------
    Bootstrap
------------------------------------------------------------------------------*/
.container-fluid {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

input.form-control {
    padding: 25px 15px;
}

textarea.form-control {
    padding: 15px;
}

select.form-control {
    height: 52px;
}

input.form-control, textarea.form-control, select.form-control {
    &:focus {
        box-shadow: none;
        border: 1px solid $mainColor;
    }
}

/*------------------------------------------------------------------------------
    Responsive
------------------------------------------------------------------------------*/
@media screen and (max-width: 1200px) {
    .container {
        max-width: 95% !important;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 100% !important;
    }
}
