/*------------------------------------------------------------------------------
    Reset
------------------------------------------------------------------------------*/
* { box-sizing: border-box; }

html { overflow-x: hidden; }

.font-sans, .font-serif, .font-mono {
    font-family: 'IRANSansWeb' !important;
}

body {
    color: $textColor;
    direction: rtl;
    font-family: 'IRANSansWeb' !important;
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    text-align: right;
}

h1  { font-size: 36px; line-height: 54px; }
h2  { font-size: 32px; line-height: 48px; }
h3  { font-size: 28px; line-height: 42px; }
h4  { font-size: 24px; line-height: 36px; }
h5  { font-size: 20px; line-height: 30px; }
h6  { font-size: 16px; line-height: 24px; }

p { color: $textColor; font-size: 24px; line-height: 36px; }

img { max-width: 100%; }

a {
    text-decoration: none !important;
    @include transition(0.4s);
    &.with-underline {
        text-decoration: underline !important;
    }
}

a, i, span { display: inline-block; }

button {
    outline: none !important;
    &:focus {
        outline: none !important;
    }
    @include transition(all 0.4s);
}

.bg-gray-100 {
    background-image: url('../images/login-bg.jpg');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-green {
    background-color: #2a7f20;
    color: #fff;
}

/*------------------------------------------------------------------------------
    Responsive
------------------------------------------------------------------------------*/
@media screen and (max-width: 1400px) {
    p { font-size: 20px; line-height: 30px; }
}

@media screen and (max-width: 768px) {
    h1  { font-size: 30px; line-height: 45px; }
    h2  { font-size: 28px; line-height: 42px; }
    h3  { font-size: 24px; line-height: 36px; }
    h4  { font-size: 20px; line-height: 30px; }
    h5  { font-size: 18px; line-height: 27px; }
    h6  { font-size: 15px; line-height: 22px; }

    p { font-size: 16px; line-height: 24px; }
}
