/*------------------------------------------------------------------------------
    Colors
------------------------------------------------------------------------------*/
$primary:#004bff;
$mainColor: #009dff;
$textColor: #000;
$gray: #eeedf1;
