@media screen and (max-width: 992px) {
    .container {
        max-width: 95% !important;
        &.reminder-container {
          max-width: 100% !important;
        }
    }
    .admin-marketer-sidebar {
        .admin-marketer-header {
            padding: 5px 15px;
            h3 {
                font-size: 20px;
                line-height: 40px;
            }
        }
        .sidebar-wrapper {
            right: -280px;
            z-index: 10;
            &.active {
                right: 0;
            }
        }
    }
    .main-content-container {
        padding: 67px 15px 15px;
    }
    .footer {
        .footer-a {
            padding: 50px 0 0;
        }
    }
}

@media screen and (max-width: 850px) {
    .login-modal {
        .login-box {
            width: 97%;
        }
    }
    .dashboard-info-box {
        width: 100%;
    }
    .rc-slider-vertical {
        margin-left: 2vw !important;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 100% !important;
    }
    .card-scale {
        .btn-primary {
            bottom: 1rem;
            right: 1rem;
        }
    }
    .insurance-selection-box {
        width: 95%;
    }
    .ins-purchase-steps {
        width: 100%;
    }
}

@media screen and (max-width: 720px) {
    .login-modal {
        .login-box {
            width: 90%;
            img {
                display: none;
            }
            .login-form {
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .btn {
        font-size: 12px !important;
        padding: 5px;
        & > .fa {
            font-size: 16px !important;
            top: 2px !important;
        }
    }
    .navbar-wrapper {
        .mj-nav {
            .navbar-brand {
                img {
                    max-width: 140px;
                }
            }
        }
    }
    .dashboard-dropdown {
        & > a {
            font-size: 13px;
            &::after {
                right: -12px;
            }
        }
    }
    .login-modal {
        .login-box {
            .login-form {
                padding: 15px 25px;
            }
        }
    }
    .dashboard-tab {
        font-size: 10px;
        i {
            font-size: 27px;
        }
    }
    .footer {
        .footer-b {
            font-size: 12px;
        }
    }
    .responsive-table {
        table {
            width: 450px !important;
        }
    }
    .customers-table {
        table {
            width: 576px !important;
        }
    }
    .w-50 {
        width: 100% !important;
    }
    .login-page {
        .card {
            width: 90%;
        }
    }
    .insurance-selection-button {
        @include circle(100px);
        h6 {
            font-size: 12px;
            line-height: 14px;
        }
        .icon-insurance {
            font-size: 50px;
        }
    }
    .passenger-qty-selection-box-wrapper {
        .passenger-qty-selection-box {
            padding: 10px !important;
            & > div.row {
                & > div {
                    &:first-child {
                        font-size: 13px;
                        padding-left: 0 !important;
                    }
                    input {
                        width: 20px !important;
                    }
                }
            }
        }
    }
    .additional-options {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-out;
    }
    .customer-discount-box {
        border-top: 1px solid #444 !important;
        border-radius: 0 !important;
        margin-bottom: 0 !important;
        position: fixed;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: 20;
    }
    .d-overflow-hidden {
        overflow: hidden;
    }
    .table {
        th, td {
            font-size: 12px !important;
        }
    }
    .dashboard-info-box-450 {
        width: 100%;
    }
    .range-slider-wrapper {
        height: 650px !important;
    }
    .most-bottom-label {
        font-size: 10px !important;
        position: relative;
        top: 20px;
        right: 30px;
    }
}
